@charset "utf-8";
#header{
    width: 100%;
    height: 140px;
}
#header-1{
    width: 100%;
    height: 40px;
    background-color: #EEEEEE;
    font-size: 12px;
}
#header-1-1{
    width: 120px;
    height: 36px;
    margin-left: 210px;
    line-height: 36px;
    float: left;
}
#header-1-1 a:first-child{
    padding-right: 12px;
}
#header-1-1 small{color:#ccc;}
#header-1-1 a:last-child{
    padding-left: 12px;
}
#header-1-2{
     float: right;
     margin: 8px 200px 0 0 ;
}
#header-1-2 a{
    padding:0 10px 0 10px;
}
#header-1-2 small{color:#ccc;}
#shopnum{color: blue;}
#iphone{position: relative;}
#iphone img{
    width: 150px;
    height: 200px;
    position: absolute;
    top: 27px;
    left: 2px;
    display: none;
}
#iphone:hover img{
    display: block;
    z-index: 100;
}
#header-2-1{
    float: left;
    margin-left: 190px;
    position: relative;
}

#header-2-1 .img2{
   position: absolute;
   bottom: 0;
   left: 0;
}
#header-2-2{
    float: left;
    width: 330px;
    height: 30px;
    border:#0188CC 2px solid;
    margin:32px 0 0 25px;
    position: relative;
}
#header-2-2 input{
    border: none;
    width: 260px;
    height: 30px;
    text-indent: 10px;
    outline:none;
}
#header-2-2 .font{
    background-color: #0188CC;
    width: 70px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
}
#header-2-3{float: left;}
#header-2-4{float: left;}
#header-2-4 img{
    margin-top: 5px;
}

#nav{
     clear:both;
     height:38px;
     background:#0085c3;
    }
#nav ul{margin-left: 200px;}
#nav li{float:left;}
#nav li a{
    display:block; 
    font-size:16px; 
    color:#fff;
    height:36px; 
    line-height:36px;
    text-align:center;
    padding:0 22px;
    border-top:1px solid #0085c3;
    border-bottom:1px solid #0085c3;border-right:1px solid #0085c3;}
#nav .navul li a:hover{
    background:#fff;
    color:#0085c3;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
}
#nav li.all a{
    width:180px; 
    background:#eeeeee; 
    color:#0085c3; 
    padding:0;
    margin:0 0 0 1px;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
    position: relative;
}
#allproduct{
    position: absolute;
    width: 200px;
    height: 500px;
    top: 178px;
    left: 0;
    z-index: 10;
    text-align: left;
    display:block; 
    border: none;
}
#Dellservice a{
    font-size: 20px;
}
#Notebook a{
    font-size: 20px;
}
#Inspironul li{
    display: none;
}
#Inspiron:hover li{
    display: block;
}
#xpsul li{
    display: none;
}
#xps:hover li{
    display: block;
}
#Gboxul li{
    display: none;
}
#Gbox:hover li{
    display: block;
}
#ALIENWAREul li{
    display: none;
}
#ALIENWARE:hover li{
    display: block;
}
#Inspiron{
    position: relative;

}
#Inspironul{
    display: none;
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px;
}
#xps{
    position: relative;
}
#xpsul{
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px;
}
#Gbox{
    position: relative;
}
#Gboxul{
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px;
}
#ALIENWARE{
    position: relative;
}
#ALIENWAREul{
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px;
}
#nav li.all a:hover{ background:#eeeeee;}
#nav li.home a{
    width:170px;
     padding:0;
}
#columns1{
    position: relative;
}
#columns1 a{width: 60px;padding: 0;}
#columns1 ul{
    width: 736px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: -510px;
    display: none;
    background: #fff;
    z-index: 999;
    box-shadow: 3px 1px 3px #ccc, -3px 1px 3px #ccc;
}
#columns1 ul li{
    position: relative;
    float: left;
}
#columns1 ul li a{
    text-indent: -1000000px;
    width: 200px;
    float: left;
    height: 218px;
    display: block;
    border: none;
    border-right: 1px solid #eeeeee;
}
#columns1 ul li .a1{
    background: url(../images/nav1_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a2{
    background: url(../images/nav1_2.png) no-repeat  0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a3{
    background: url(../images/nav1_3.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a1:hover{
    background: url(../images/nav1_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a2:hover{
    background:url(../images/nav1_2.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a3:hover{
    background:url(../images/nav1_3.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns2{
    position: relative;
}
#columns2 a{width: 60px;padding: 0;}
#columns2 ul{
    width: 490px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: -390px;
    background: #fff;
    display: none;
    z-index: 999;
    box-shadow: 3px 1px 3px #ccc, -3px 1px 3px #ccc;
}
#columns2 ul li{
    position: relative;
    float: left;
}
#columns2 ul li a{
    text-indent: -1000000px;
    width: 200px;
    float: left;
    height: 218px;
    display: block;
    border: none;
    border-right: 1px solid #eeeeee;
}
#columns2 ul li .a1{
    background: url(../images/nav2_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns2 ul li .a2{
    background: url(../images/nav2_3.png) no-repeat  0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns2 ul li .a1:hover{
    background: url(../images/nav2_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns2 ul li .a2:hover{
    background:url(../images/nav2_3.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns3{
    position: relative;
}
#columns3 a{width: 80px;padding: 0;}
#columns3 ul{
    width: 736px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: -600px;
    background: #fff;
    display: none;
    z-index: 999;
    box-shadow: 3px 1px 3px #ccc, -3px 1px 3px #ccc;
}
#columns3 ul li{
    position: relative;
    float: left;
}
#columns3 ul li a{
    text-indent: -1000000px;
    width: 200px;
    float: left;
    height: 218px;
    display: block;
    border: none;
    border-right: 1px solid #eeeeee;
}
#columns3 ul li .a1{
    background: url(../images/nav3_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a2{
    background: url(../images/nav3_2.png) no-repeat  0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a3{
    background: url(../images/nav3_3.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a1:hover{
    background: url(../images/nav3_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a2:hover{
    background:url(../images/nav3_2.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a3:hover{
    background:url(../images/nav3_3.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns4{
    position: relative;
}
#columns4 a{width: 130px;padding: 0;}
#columns4 ul{
    width: 736px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: -700px;
    background: #fff;
    display: none;
    z-index: 999;
    box-shadow: 3px 1px 3px #ccc, -3px 1px 3px #ccc;
}
#columns4 ul li{
    position: relative;
    float: left;
}
#columns4 ul li a{
    text-indent: -1000000px;
    width: 200px;
    float: left;
    height: 218px;
    display: block;
    border: none;
    border-right: 1px solid #eeeeee;
}
#columns4 ul li .a1{
    background: url(../images/nav4_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a2{
    background: url(../images/nav4_2.png) no-repeat  0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a3{
    background: url(../images/nav4_3.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a1:hover{
    background: url(../images/nav4_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a2:hover{
    background:url(../images/nav4_2.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a3:hover{
    background:url(../images/nav4_3.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#Commoditydetails{
    width: 100%;
    height: 10000px;
}
#Commoditydetails-1{
    width: 100%;
    height: 30px;
    background-color: #F5F5F5;
}
#Commoditydetails-1 span{
    margin-left: 280px;
    font-size: 12px;
    color: gray;
    text-align: center;
    line-height: 30px;
}
#Commoditydetails-1 a{
    color: #007DB8;
}
#Commoditydetails-2{
    width:970px;
    height: 590px;
    margin:25px 0 0  280px;
}
#Commoditydetails-2-1{
    width: 370px;
    height: 500px;
    float: left;
}
#Commoditydetails-2-1-1{
    width: 100%;
    height:370px;
    border: 1px solid #CDCDCD;
    position: relative;
}
#Commoditydetails-2-1-1 img{
    width: 370px;
    height: 370px;
}
#Commoditydetails-2-1-2{
    width: 100%;
    height: 100px;
}
#Commoditydetails-2-1-2 ul{
    margin: 20px 0 0 15px;
}
#Commoditydetails-2-1-2 ul li{
    border: 1px solid #CDCDCD;
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 8px;
}
#Commoditydetails-2-1-2 ul .active{
    border: 1px solid #0085c3;
}
#Commoditydetails-2-1-2 ul li img{
    width: 60px;
    height: 60px;
}
#Commoditydetails-2-2{
    width: 360px;
    height: 100%;
    float: left;
    padding: 0 20px; 
    position: relative;
}
#mark{
    display: none;
    width: 185px;
    height: 185px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: skyblue;
}
#Magnifier{
    width: 370px;
    height:370px;
    border: 1px solid #CDCDCD;
    z-index: 100;
    float: left;
    display: none;
    position: absolute;
    top: 0;
    overflow: hidden;
}
#Magnifier img{
    width: 740px;
    height:740px;
    position: absolute;
}
#Commoditydetails-2-2 h1{
    color: #444444;
    font-size: 18px;
    font-weight: 600;
} 
#Commoditydetails-2-2 h2{
    color: #888;
    font-size: 12px;
    padding: 5px 0;
}   
#Commoditydetails-2-2 h3{
    color: #ff7700;
    margin-bottom: 10px;
}
#Commoditydetails-2-2-1{
    width: 100%;
    height: 50px;
    background-color: #EEEEEE;
    position: relative;
}
#Commoditydetails-2-2-1 span{
    line-height: 50px;
}
#Commoditydetails-2-2-2{
    width: 100%;
    height: 40px;
    margin: 15px 0;
}
#Commoditydetails-2-2-2 span{
    width: 40px;
    height: 40px;
    font-size: 12px;
    color: #888;
    display: block;
    float: left;
    margin-top: 2px;
}
#Commoditydetails-2-2-2 a{
    display: block;
    float: left;
    width: 150px;
    height: 32px;
    border: 2px solid #ce1126;
    padding-left: 10px;
    font-size: 12px;
    line-height: 32px;
    position: relative;
}
#Commoditydetails-2-2-2 a b{
    display: block;
    background: url(../images/sel.png) no-repeat 0 0;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#Commoditydetails-2-2-3{
    width: 100%;
    height: 80px;
}
#Commoditydetails-2-2-3 span{
    font-size: 12px;
    color: #888;
    display: block;
    float: left;
    margin:10px 10px 0 0 ;
}
#Commoditydetails-2-2-3 a{
    display: block;
    float: left;
    width: 130px;
    height: 32px;
    border: 1px solid #888;
    /* border: 2px solid #ce1126; */
    padding-left: 10px;
    font-size: 12px;
    line-height: 32px;
    position: relative;
    text-align: center;
    margin: 2px 6px;
}
#Commoditydetails-2-2-3 a b{
    display: block;
    background: url(../images/sel.png) no-repeat 0 0;
    width: 12px;
    height: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
}
#Commoditydetails-2-2-4{
    width: 100%;
    height: 120px;
    margin: 10px 0;
}
#Commoditydetails-2-2-4 span{
    width: 40px;
    height: 16px;
    color: #888;
    display: block;
    float: left;
    font-size: 12px;
}
#Commoditydetails-2-2-4 img{
    width: 320px;
    height: 120px;
    float: left;
}
#Commoditydetails-2-2-5{
    width: 100%;
    height: 36px;
    background-color: white;
    position: relative;
    font-size: 12px;
    color: #888;
    line-height: 36px;
}
#Commoditydetails-2-2-5 span{
    font-size: 12px;
    color: #888;
    margin-top: 0;
    float: left;
    width: 60px;
    display: block;
}
#Commoditydetails-2-2-5 .sub{
    display: block;
    position: absolute;
    background: #EEE;
    width: 40px;
    height: 32px;
    left: 70px;
    top: 0;
    line-height: 32px;
    text-align: center;
    float: left;
    color: #444;
}
#Commoditydetails-2-2-5 .add{
    display: block;
    position: absolute;
    background: #EEE;
    width: 40px;
    height: 32px;
    right: 0;
    left: 152px;
    line-height: 32px;
    text-align: center;
    float: left;
    color: #444;
}
#Commoditydetails-2-2-5 input{
    border: 1px solid #A6A5AC;
    font-size: 16px;
    width: 40px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    margin-left: 50px;
    text-align: center;
    float: left;
}
#Commoditydetails-2-2-5 small{
    position: absolute;
    right: 30px;
}
#Commoditydetails-2-2-6{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
#Commoditydetails-2-2-6 a{
    display: block;
    height: 40px;
    line-height: 40px;
    width: 170px;
    float: left;
    text-align: center;
    background: #56a025;
    color: #fff;
    font-size: 16px;
}
#Commoditydetails-2-2-6 .addshop{
    float: right;
    background: #0085c3;
    color: #fff;
}
#Commoditydetails-2-3{
    width: 198px;
    height: 100%;
    float: left;
    border: 1px solid #EEEEEE   ;
}
#Commoditydetails-2-3-1{
    width: 100%;
    height: 35px;
    background-color: #EEEEEE;
    color: #0085c3;
    text-align: center;
    font-size: 12px;
    line-height: 35px;
}
#Commoditydetails-2-3-2{
    margin: 10px;
}
#Commoditydetails-2-3-2 p{
    color: #D11128;
    font-size: 12px;
    padding-left: 65px;
}
#Commoditydetails-2-3-2 span{
    color: #888;
    font-size: 12px;
}
#Commoditydetails-2-3-2 small{
    font-size: 10px;
    color: #888;
    padding-left: 40px;
}
#Commoditydetails-2-3-2 img{
    width: 138px;
    height: 96px;
    padding-left: 20px;
}
#Commoditydetails-2-3-3 img{
    width: 138px;
    height: 96px;
    padding-left: 20px;
}
#Commoditydetails-2-3-3{
    margin: 10px;
}
#Commoditydetails-2-3-3 p{
    color: #D11128;
    font-size: 12px;
    padding-left: 65px;
}
#Commoditydetails-2-3-3 span{
    color: #888;
    font-size: 12px;
}
#Commoditydetails-2-3-3 small{
    font-size: 10px;
    color: #888;
    padding-left: 40px;
}
#Commoditydetails-2-3-4 img{
    width: 138px;
    height: 96px;
    padding-left: 20px; 
}
#Commoditydetails-2-3-4{
    margin: 10px;
}
#Commoditydetails-2-3-4 p{
    color: #D11128;
    font-size: 12px;
    padding-left: 65px;
}
#Commoditydetails-2-3-4 span{
    color: #888;
    font-size: 12px;
}
#Commoditydetails-2-3-4 small{
    font-size: 10px;
    color: #888;
    padding-left: 40px;
}
#Commoditydetails-3{
    width: 990px;
    height: 100%;
    margin-left: 270px;
}
#Commoditydetails-3-1{
    float: left;
    width: 213px;
    height: 853px;
}
#Commoditydetails-3-2{
    float: left;
    width: 777px;
}
#Commoditydetails-3-2 img{
    width: 100%;
}
#footer{
    width: 100%;
    height: 130px;
    background-color: #EEEEEE;
    overflow: hidden;
}
#footer1{
    width: 1104px;
    height: 72px;
    margin:0 0 0 200px;
    position: relative;
    background:url(../images/foot.jpg) no-repeat;
}
#footer1-1{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: 400px;
}
#footer1-2{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: 180px;
}
#footer1-3{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: -30px;
}
#footer2 ul {margin:25px 0 0 200px;}
#footer2 ul li{
    float: left;
    padding-right: 10px;
    font-size: 14px;
}
#footer2 div{margin-left:1200px;}
#bottom{
    width: 100%;
    height: 220px;
    background-color: #007DB8;
}
#bottom-1{
    width: 1100px;
    height: 40px;
    margin-left: 200px;
    font-size: 12px;
}
#bottom-1 ul{padding-top: 10px;}
#bottom-1 ul li{
    float: left;
    padding-right: 15px;
}
#bottom-1 ul li a{color: white;}
#bottom-1 ul li a:hover{
    border-bottom: 1px solid #fff;
}
#bottom-2{
    font-size: 12px;
    width: 1100px;
    height: 120px;
    margin:20px 0 0 200px;
}
#bottom-2 span{color: #71B8D9;}
#bottom-2 a{color: #71B8D9;}
#bottom-3{
    font-size: 12px;
    margin:2px 0 0 680px;
}
#bottom-3 a{color: #99CEE3;margin-top: 10px;}