@charset "utf-8";
#header{
    width: 100%;
    height: 140px;
}
#header-1{
    width: 100%;
    height: 40px;
    background-color: #EEEEEE;
    font-size: 12px;
}
#header-1-1{
    width: 120px;
    height: 36px;
    margin-left: 210px;
    line-height: 36px;
    float: left;
}
#header-1-1 a:first-child{
    padding-right: 12px;
}
#header-1-1 small{color:#ccc;}
#header-1-1 a:last-child{
    padding-left: 12px;
}
#header-1-2{
     float: right;
     margin: 8px 200px 0 0 ;
}
#header-1-2 a{
    padding:0 10px 0 10px;
}
#header-1-2 small{color:#ccc;}
#shopnum{color: blue;}
#iphone{position: relative;}
#iphone img{
    width: 150px;
    height: 200px;
    position: absolute;
    top: 27px;
    left: 2px;
    display: none;
}
#iphone:hover img{
    display: block;
    z-index: 100;
}
#header-2-1{
    float: left;
    margin-left: 190px;
    position: relative;
}

#header-2-1 .img2{
   position: absolute;
   bottom: 0;
   left: 0;
}
#header-2-2{
    float: left;
    width: 330px;
    height: 30px;
    border:#0188CC 2px solid;
    margin:32px 0 0 25px;
    position: relative;
}
#header-2-2 input{
    border: none;
    width: 260px;
    height: 30px;
    text-indent: 10px;
    outline:none;
}
#header-2-2 .font{
    background-color: #0188CC;
    width: 70px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
}
#header-2-3{float: left;}
#header-2-4{float: left;}
#header-2-4 img{
    margin-top: 5px;
}

#nav{
     clear:both;
     height:38px;
     background:#0085c3;
    }
#nav ul{margin-left: 200px;}
#nav li{float:left;}
#nav li a{
    display:block; 
    font-size:16px; 
    color:#fff;
    height:36px; 
    line-height:36px;
    text-align:center;
    padding:0 22px;
    border-top:1px solid #0085c3;
    border-bottom:1px solid #0085c3;border-right:1px solid #0085c3;}
#nav .navul li a:hover{
    background:#fff;
    color:#0085c3;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
}
#nav li.all a{
    width:180px; 
    background:#eeeeee; 
    color:#0085c3; 
    padding:0;
    margin:0 0 0 1px;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    border-right:1px solid #eeeeee;
    position: relative;
}
#allproduct{
    position: absolute;
    width: 200px;
    height: 500px;
    top: 178px;
    left: 0;
    z-index: 10;
    text-align: left;
    display:block; 
    border: none;
}
#Dellservice a{
    font-size: 20px;
}
#Notebook a{
    font-size: 20px;
}
#Inspironul li{
    display: none;
}
#Inspiron:hover li{
    display: block;
}
#xpsul li{
    display: none;
}
#xps:hover li{
    display: block;
}
#Gboxul li{
    display: none;
}
#Gbox:hover li{
    display: block;
}
#ALIENWAREul li{
    display: none;
}
#ALIENWARE:hover li{
    display: block;
}
#Inspiron{
    position: relative;

}
#Inspironul{
    display: none;
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px;
}
#xps{
    position: relative;
}
#xpsul{
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px;
}
#Gbox{
    position: relative;
}
#Gboxul{
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px;
}
#ALIENWARE{
    position: relative;
}
#ALIENWAREul{
    position: absolute;
    top: 0;
    left: -20px;
    width: 150px;
}
#nav li.all a:hover{ background:#eeeeee;}
#nav li.home a{
    width:170px;
     padding:0;
}
#columns1{
    position: relative;
}
#columns1 a{width: 60px;padding: 0;}
#columns1 ul{
    width: 736px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: -510px;
    display: none;
    background: #fff;
    z-index: 999;
    box-shadow: 3px 1px 3px #ccc, -3px 1px 3px #ccc;
}
#columns1 ul li{
    position: relative;
    float: left;
}
#columns1 ul li a{
    text-indent: -1000000px;
    width: 200px;
    float: left;
    height: 218px;
    display: block;
    border: none;
    border-right: 1px solid #eeeeee;
}
#columns1 ul li .a1{
    background: url(../images/nav1_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a2{
    background: url(../images/nav1_2.png) no-repeat  0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a3{
    background: url(../images/nav1_3.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a1:hover{
    background: url(../images/nav1_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a2:hover{
    background:url(../images/nav1_2.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns1 ul li .a3:hover{
    background:url(../images/nav1_3.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns2{
    position: relative;
}
#columns2 a{width: 60px;padding: 0;}
#columns2 ul{
    width: 490px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: -390px;
    background: #fff;
    display: none;
    z-index: 999;
    box-shadow: 3px 1px 3px #ccc, -3px 1px 3px #ccc;
}
#columns2 ul li{
    position: relative;
    float: left;
}
#columns2 ul li a{
    text-indent: -1000000px;
    width: 200px;
    float: left;
    height: 218px;
    display: block;
    border: none;
    border-right: 1px solid #eeeeee;
}
#columns2 ul li .a1{
    background: url(../images/nav2_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns2 ul li .a2{
    background: url(../images/nav2_3.png) no-repeat  0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns2 ul li .a1:hover{
    background: url(../images/nav2_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns2 ul li .a2:hover{
    background:url(../images/nav2_3.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns3{
    position: relative;
}
#columns3 a{width: 80px;padding: 0;}
#columns3 ul{
    width: 736px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: -600px;
    background: #fff;
    display: none;
    z-index: 999;
    box-shadow: 3px 1px 3px #ccc, -3px 1px 3px #ccc;
}
#columns3 ul li{
    position: relative;
    float: left;
}
#columns3 ul li a{
    text-indent: -1000000px;
    width: 200px;
    float: left;
    height: 218px;
    display: block;
    border: none;
    border-right: 1px solid #eeeeee;
}
#columns3 ul li .a1{
    background: url(../images/nav3_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a2{
    background: url(../images/nav3_2.png) no-repeat  0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a3{
    background: url(../images/nav3_3.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a1:hover{
    background: url(../images/nav3_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a2:hover{
    background:url(../images/nav3_2.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns3 ul li .a3:hover{
    background:url(../images/nav3_3.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns4{
    position: relative;
}
#columns4 a{width: 130px;padding: 0;}
#columns4 ul{
    width: 736px;
    height: 220px;
    position: absolute;
    top: 38px;
    left: -700px;
    background: #fff;
    display: none;
    z-index: 999;
    box-shadow: 3px 1px 3px #ccc, -3px 1px 3px #ccc;
}
#columns4 ul li{
    position: relative;
    float: left;
}
#columns4 ul li a{
    text-indent: -1000000px;
    width: 200px;
    float: left;
    height: 218px;
    display: block;
    border: none;
    border-right: 1px solid #eeeeee;
}
#columns4 ul li .a1{
    background: url(../images/nav4_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a2{
    background: url(../images/nav4_2.png) no-repeat  0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a3{
    background: url(../images/nav4_3.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a1:hover{
    background: url(../images/nav4_1.png) no-repeat 0 0 #fff;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a2:hover{
    background:url(../images/nav4_2.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#columns4 ul li .a3:hover{
    background:url(../images/nav4_3.png) no-repeat;
    background-size: 80%;
    background-position: 50%;
}
#productdiv{
    height: 2320px;
    width: 100%;
}
#productdiv-top{
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    font-size: 12px;
    overflow: hidden;
}
#productdiv-top span{
    display: block;
    margin:8px  0 0  280px;
    color:#D8CFCF;
}
#productdiv-top a{color: #007DB8;}
#productdiv-content{
    width: 1120px;
    height: 100%;
    margin-left: 200px;
}
#productdiv-content-1{
    width: 100%;
    height: 80px;
    position: relative;
}
#productdiv-content-1 span{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
}
#productdiv-content-1 ul{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#productdiv-content-1 ul li{
    float: left;
}
#productdiv-content-1 ul li a{
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
#productdiv-content-2{
    width: 100%;
    height: 2130px;
}
#productdiv-content-2-1{
    width: 264px;
    height: 522px;
    border:1px solid #fff;
    background-color: #fff;
    float: left;
    margin:0 0 5px 10px;
}
#productdiv-content-2-1-img{
  text-align: center;    
}
#productdiv-content-2-1-img img{
    width: 236px;
    height: 236px;
    padding: 10px 0;
}
#productdiv-content-2-1-2{
    width: 256px;
    height: 200px;
    margin: 0 auto;
}
#productdiv-content-2-1-2 p{
    font-size: 12px;
}
#productdiv-content-2-1-2 h3{
    font-weight: normal;
    color: #0084C4;
    font-size: 14px;
    padding: 5px 0;
    min-height: 24px;
    display: block;
    overflow: hidden;
}
#productdiv-content-2-1-2 .content-2-1-2ul{
    color: #888;
    clear: both;
    padding: 10px 0;
    margin: 0 auto;
    overflow: hidden; 
}
#productdiv-content-2-1-2 .content-2-1-2ul li{
    float: left;
    line-height: 120%;
    padding: 0 8px;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid #ddd;
}
#productdiv-content-2-1-2 .p2{
    color: #f70;
    margin-top: 10px;
}
#productdiv-content-2-1-2 .content-2-1-2ul .li4{
    border-right: none;
}
#productdiv-content-2-1-3{
    position: relative;
    width: 100%;
    height: 66px;
}
#productdiv-content-2-1-3 a{
   position:absolute;
   bottom:20px;
   right: 20px;
}
#productdiv-content-3{
    width: 100%;
    height: 80px;
    position: relative;
}
#productdiv-content-3 span{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
}
#productdiv-content-3 ul{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#productdiv-content-3 ul li{
    float: left;
}
#productdiv-content-3 ul li a{
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
#footer{
    width: 100%;
    height: 130px;
    background-color: #EEEEEE;
    overflow: hidden;
}
#footer1{
    width: 1104px;
    height: 72px;
    margin:0 0 0 200px;
    position: relative;
    background:url(../images/foot.jpg) no-repeat;
}
#footer1-1{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: 400px;
}
#footer1-2{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: 180px;
}
#footer1-3{
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    right: -30px;
}
#footer2 ul {margin:25px 0 0 200px;}
#footer2 ul li{
    float: left;
    padding-right: 10px;
    font-size: 14px;
}
#footer2 div{margin-left:1200px;}
#bottom{
    width: 100%;
    height: 220px;
    background-color: #007DB8;
}
#bottom-1{
    width: 1100px;
    height: 40px;
    margin-left: 200px;
    font-size: 12px;
}
#bottom-1 ul{padding-top: 10px;}
#bottom-1 ul li{
    float: left;
    padding-right: 15px;
}
#bottom-1 ul li a{color: white;}
#bottom-1 ul li a:hover{
    border-bottom: 1px solid #fff;
}
#bottom-2{
    font-size: 12px;
    width: 1100px;
    height: 120px;
    margin:20px 0 0 200px;
}
#bottom-2 span{color: #71B8D9;}
#bottom-2 a{color: #71B8D9;}
#bottom-3{
    font-size: 12px;
    margin:2px 0 0 680px;
}
#bottom-3 a{color: #99CEE3;margin-top: 10px;}